/** Google fonts **/
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Original Surfer', Roboto, sans-serif;
    text-align: center;
    background: url("../images/background.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    
    
}

nav  {
    
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

nav a:hover {
    color: yellow;
    transition: ease 0.3s;
}

h1 {
    margin-top: 30px;
    font-size: 4vw;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px 2px #000;
}

#about {
    width: 100%;
    max-width: 540px;
    background-color: #A4D9F1;
    margin-top: 40px;
    margin-bottom: 1rem;
    color: black;
    border-radius: 25px;
    border: 2px solid white;
    
}



#mole-img {
    width: 100%;
    max-width: 540px;
    float: right;
}

#mole {
    width: 100%;
    display: block;
    margin: auto;
    padding: 30px;
    padding-left: 50px;
    padding-right: 0;
}


#about h2 {
    padding: 12px;
    
}

#about ul {
    list-style-type: none;
}

#about li {
    padding: 12px;
    text-decoration: none;
}

header h1 {
    font-size: 4vw;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

#score {
    font-size: 3vw;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px 5px #000;
    
}

#timer {
    font-size: 3vw;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px 5px #000;
}

#board {
    width: 100%;
    max-width: 540px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 25px;
    background-color: green;
    background-image: url("../images/grass.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.hole {
    background-image: url("../images/hole.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 100%; 
    position: relative;
    
}


#buttons {
    margin: 1rem;
    text-align: center;
}

button {
    background-color: white;
    color: black;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #91C93E;
    color: black;
}




#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.mole {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.frog {
    width: 100px;
    height: 100px;
    object-fit: contain;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}




